:global {
  html,
  body {
    width: 100%;
    margin: 0;
    padding: 100px 0 0;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #root {
    width: 100%;
    max-width: 978px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
